ion-toolbar {
    --background: none;
}
ion-text {
    display: flex;
}
.asmr {
    --background: url('/assets/images/glossario/asmr2.jpg') no-repeat center center / cover;
    color: #fff;

    p {
        color: #949494;
    }
}

.solfegio {
    --background: url('/assets/images/glossario/solfegio.jpg') no-repeat center center / cover;
    color: #fff;

    p {
        color: #949494;
    }
}

.afirmacoes {
    --background: url('/assets/images/glossario/afirmacoespositivas.jpg') no-repeat center center / cover;
    color: #fff;

    p {
        color: #949494;
    }
}

.leidaatracao {
    --background: url('/assets/images/glossario/Lei-da-Atracao.jpg') no-repeat center center / cover;
    color: #fff;

    p {
        color: #949494;
    }
}

.mantras {
    --background: url('/assets/images/glossario/mantra.jpg') no-repeat center center / cover;
    color: #fff;

    p {
        color: #949494;
    }
}

.frequencia432 {
    --background: url('/assets/images/albums/frequencia-432hz.jpg') no-repeat center center / cover;
    color: #fff;

    p {
        color: #949494;
    }
}

.frequencia528 {
    --background: url('/assets/images/albums/frequencia-528hz.jpg') no-repeat center center / cover;
    color: #fff;

    p {
        color: #949494;
    }
}

.frequencia777 {
    --background: url('/assets/images/albums/frequencia-741hz.jpg') no-repeat center center / cover;
    color: #fff;

    p {
        color: #949494;
    }
}

.frequencia888 {
    --background: url('/assets/images/albums/frequencia-852hz.jpg') no-repeat center center / cover;
    color: #fff;

    p {
        color: #949494;
    }
}